/*Font is Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}



/*--------------------Navigation---------------------*/
.navigation {
    background-color: #1f2937;
    height: 60px;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding: 5px 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}



/*--------------------Header---------------------*/

header {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

.header-content {
    display: flex;
    padding: 50px 200px;
    justify-content: center;
    padding-bottom: 100px;
}

.left-side {
    max-width: 500px;
}

.header-caption {
    width: 400px;
    margin-top: 10px;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #3882f6;
    color: #f8faf8;
    width: 100px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.sign-up-btn {
    margin-top: 20px;
}

.img-placeholder {
    background-color: #e5e7eb;
    width: 500px; 
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-text {
    color: #000;
}

.page-header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}


/*--------------------Header---------------------*/

.random-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.section-heading {
    margin: 35px 0;
}

.random-info-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.image-border {
    border: 2px solid #3882f6;
    border-radius: 5px;
    width: 150px;
    height: 150px;
}

.image-caption {
    width: 150px;
    text-align: center;
    color: #1f2937;
    margin-top: 5px;
}


/*--------------------Quote---------------------*/

.quote {
    font-size: 36px;
    color: #1f2937;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 0;
}

.quote-text {
    width: 1000px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    font-weight: bold;
    margin-left: 600px;
    font-size: 18px;
}



/*--------------------Call to Action---------------------*/

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 50px; 
    background-color: #3882f6;
    padding: 50px 100px;
    font-size: 18px;
    color: #fff;
    border-radius: 15px;
}

.sign-up-btn-2 {
    border: 1px solid #fff;
    border-radius: 5px;
}



/*--------------------Footer---------------------*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #fff;
    height: 75px;
    font-size: 18px;
}